.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    opacity: 0;
    animation: fade-in 1s forwards;
    background-color: #f8f8f8;
    background-image: url("../../ASSETS/background-image-css.jpg");
    background-size: cover;
    background-position: center;
  }

.card_coming_soon {
  border: 1px solid black;
  border-radius: 3rem;
  padding: 2rem 3rem 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.85);
}
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .title {
    font-size: 5rem;
    font-weight: bold;
    color: #181616;
    opacity: 0;
    animation: slide-up 1s forwards;
    animation-delay: 0.5s;
  }
  
  .subtitle {
    font-size: 3rem;
    font-weight: bold;
    color: #070707;
    opacity: 0;
    animation: slide-up 1s forwards;
    animation-delay: 0.7s;
    margin-bottom: 1.4rem;
  }
  
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }